:root {
        /* Fonts */
        --secondary-font: "Raleway", sans-serif;
        /* Colors */
        --primary-black-color: #212121;
        --iris: #4d5ae5;
        --slate: #434455;
        --cloud: #F4F4FD;
        --ocean: #404BBF;
        
        /* Background colors */
        --primary-white-color: #ffffff;
        --navyblue: #2E2F42;
        --cornflower: #E7E9FC;
        /* Others */
                --items: 3;
                --indent: 24px;
}

  

*,
*::before,
*::after {
        box-sizing: border-box;
}

/**
  |============================
  | Base styles
  |============================
*/

body {
        font-family: 'Roboto', sans-serif;
        color: var(--slate);
        /*width: 1440px;*/
        background-color: var(--primary-white-color);
        margin: 0;
}

/*reset start*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin: 0;
}

.link {
        text-decoration: none;
        color: currentColor;
}

.list {
        list-style: none;
        padding: 0;
        margin: 0;
}

/* Гумові картинки */
img {
        display: block;
        max-width: 100%;
        height: auto;
}

button {
        font-family: inherit;
        cursor: pointer;
}

/*reset end*/

/*
-------------------------
-------------------------
*/

.link:hover {
        color: var(--ocean);
}

.link:focus {
        color: var(--ocean);
}


.section {
        padding-top: 60px;
        padding-bottom: 60px;
}

.container {
        width: 1158px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        /*
        max-width: 1158px;
                margin: 0 auto;
                padding: 0 15px; 
                */

        /* outline: 2px solid red;
  outline-offset: -2px; */
}

.section-title {
        width: 412px;
        margin: 0 auto;
        margin-bottom: 50px;

        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: var(--primary-cl);
}

.section-title-accent {
        color: var(--accent-cl);
}

.btn {
        min-width: 144px;
        min-height: 45px;
        padding: 14px 40px;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
        color: var(--light-cl);
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 100px;
}


.btn-dark:hover,
.btn-dark:focus {
        color: var(--light-cl);
        background-color: var(--accent-cl);
}
/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}


.visually-hidden {
        position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;  
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
        border-bottom: 1px solid var(--cornflower)
}


.logo {
        display: flex;
                align-items: center;
                margin-right: 76px;
                        padding-top: 24px;
                        padding-bottom: 24px;

        font-family: "Raleway", sans-serif;
        color: var(--iris);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        
}

.logo-dark {
        font-family: "Raleway", sans-serif;
        color: var(--navyblue);
        text-transform: uppercase
}

.logo-light {
        font-family: "Raleway", sans-serif;
        color: var(--cloud);
        text-transform: uppercase
}

.header-container {
display: flex;
align-items: center;
}

.header-nav {
        display: flex;
        align-items: center;
       /* padding: 24px 0;*/
}

.header-nav-list {
       
        display: flex;
        align-items: center;
        gap: 40px;
        /*padding: 24px 0;*/

}

.header-nav-list-item {
        /*padding: 24px 0; */
}

.header-nav-list-item-link {
        display: inline-block;
        padding: 24px 0;

        padding-right: 76px;

        color: var(--navyblue);
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.02em;
}

.header-nav-list-item-link:focus {
        color: var(--ocean);
        text-decoration: underline;
}
.header-nav-list-item-link:hover {
        color: var(--ocean);
        text-decoration: underline;
}


.address {
        /*display: flex;
        align-items: center;*/
        margin-left: auto;
}
.address-list {
       display: flex;
        /*justify-content: center;*/
        align-items: center;

        gap: 40px;
        /*padding: 24px 0;*/
        
        /*
        padding-top: 24px;
        padding-bottom: 24px;
        */
}

.address-list-item {  
/*padding: 24px 0;*/
}

.address-list-item-link {
        display: inline-block;
        /*justify-content: center;*/
                align-items: center;
                padding: 24px 0;

                color: var(--slate);
                        font-size: 16px;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: 0.02em;

}
.address-list-item-link:focus {
        color: var(--ocean);
        text-decoration: underline;
}
.address-list-item-link:hover {
        color: var(--ocean);
        text-decoration: underline;
}

.main {}
/**
  |============================
  | Hero styles
  |============================
*/
.main-hero {
       /*width: 1440px;
        height: 600px;*/
        padding: 188px 0;
        background-color: var(--navyblue);
        
       /* padding: 188px 472px 292px;
        padding-bottom: ; */
}
.main-hero-container {
        padding-top: 188px;
padding-right: auto;
padding-left: auto;
padding-bottom: 188px;
/*padding-bottom: ;
background-color: ;*/
}

.main-hero-title {

        
         max-width: 496px;
         
        font-family: "Roboto", sans-serif;
        color: var(--primary-white-color);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        
        padding-top: 188px;
        /*padding: 0 auto;*/

        margin: 0 auto;
        margin-bottom: 48px;
}

.main-hero-button {
        display: block;
        font-family: "Roboto", sans-serif;
        background-color: var(--iris);
        color: var(--primary-white-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;

        padding: 16px 32px;
        margin: 0 auto;
        margin-bottom: 188px;
}

.main-hero-button:hover {
        background-color: var(--ocean);
}

.main-hero-button:focus {
        background-color: var(--ocean);
}

.main-skills {
        padding: 120px 0;
}


.main-skills-list {}

.main-skills-list-item {
        --items: 4;
}

.main-skills-list-item-title {
        color: var(--navyblue);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.main-skills-list-item-text {
        color: var(--slate);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/**
|============================
| Doing styles
|============================
  */
.main-doing {
        padding-bottom: 120px;
}

.main-doing-title {
        color: var(--navyblue);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.main-doing-list {}

.main-doing-list-item {}

/**
|============================
| Team styles 
|============================
*/

.main-team {
        background-color: var(--cloud);
        padding: 120px 0
}

.main-team-title {
        color: var(--navyblue);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.main-team-list {}

.main-team-list-item {
        --items: 4;
        background-color: var(--primary-white-color);
border-radius: 0px 0px 4px 4px

    /**    padding: 0px 0px 32px 0px
        border-radius: 0px 0px 4px 4px
        box-shadow: 0px 2px 1px 0px #2E2F4214;
        box-shadow: 0px 1px 1px 0px #2E2F4229;
        box-shadow: 0px 1px 6px 0px #2E2F4214; */
}

.main-tmbl-list-item-subtitle {
        padding: 32px 0;
        border-radius: 0px 0px 4px 4px;

        /**border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px #2E2F4214;
        box-shadow: 0px 1px 1px 0px #2E2F4229;
                box-shadow: 0px 1px 6px 0px #2E2F4214;*/

}

.main-team-list-item-title {
        color: var(--navyblue);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px
}


.main-team-list-item-text {
        color: var(--slate);
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/**
|============================
| Footer styles 
|============================
*/
.footer {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: var(--navyblue);
}





.footer-logo {
        display: inline-block;
                margin-bottom: 16px;

                padding-top: 100px;
                padding-left: 0;
                padding-right: auto;
        
                font-family: "Raleway", sans-serif;
                color: var(--iris);
                font-size: 18px;
                font-weight: 800;
                line-height: 1.17;
                letter-spacing: 0.03em;
                text-transform: uppercase;
}                
.logo-light {

        /*width: 115px;
        height: 21px;
        padding-top: 101.5px;
        padding-left: 156px;
                padding-right: auto;
                

                margin-bottom: 17.5px;*/
}
.footer-text {
        display: block;
        
       max-width: 264px;
        
        color: var(--cloud);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
        padding-left: 0;
                padding-right: auto;
        padding-bottom: 100px;    
}


/**
|============================
| Portpholio but styles 
|============================
*/

.main-buttons {
        padding-top: 96px;
        padding-bottom: 120px;
}

.main-buttons-list {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
}


.main-buttons-list-item {}

.main-buttons-list-item-sec {
        font-family: "Roboto", sans-serif;
        color: var(--iris);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: var(--cloud);
        cursor: pointer;
        padding: 12px 24px;
        border: 1px solid var(--cornflower);
        border-radius: 4px;
}

.main-buttons-list-item-sec:hover {
        color: #FFFFFF;
        background-color: #404BBF;
        border: 1px solid transparent;
}

.main-buttons-list-item-sec:focus {
        color: #FFFFFF;
        background-color: #404BBF;
        border: 1px solid transparent;
}

/**
|============================
| Portpholio tmbl styles 
|============================
*/

.main-tmbl {}


.main-tmbl-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;

}

.main-tmbl-list-item {}

.tmbl-div {
padding: 32px 16px;
border: 1px solid var(--cornflower);
border-top: none;

}

.main-tmbl-list-item-title {
        color: var(--navyblue);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.main-tmbl-list-item-text {
        color: var(--slate);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}